*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.top{
	background: #4F31A3;
	height: 30px;
	line-height: 30px;
}
.top ul{
	overflow: hidden;
}
.top ul li{
	float: left;
}
.p-header {
	z-index: 999;
	height: 80px;
	background:#653EB3;
	width: 100%;
	color: #fff;
	position: absolute;
}
.p-header h1 {
	margin-top: 13px;
}
.p-nav li {
	float: left;
	text-align: center;
}
.p-nav li a {
	color: #FFFFFF;
	display: block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 15px;
	text-decoration: none;
}
/*移动端导航*/
.navbar {
	position: fixed;
	width: 100%;
	height: 40px;
	z-index: 999;
}
.navbar .container-fluid {
	padding: 0 10px;
	background-color: #653EB3;
}
.navbar-header {
	padding-left: 10px;
}
.navbar-brand img {
	width: 80%;
}
.navbar-brand {
	padding: 5px;
}
.navbar-collapse {
	background:  #653EB3;
	text-align: center;
	border: 0 !important;
}
.navbar-nav li:hover {
	background: #135ea4;
}
.navbar-nav li a {
	color: #fff !important;
}
.navbar-toggle {
	background: none !important;
	right: 10px;
}
main{
	color:#616161;
}

.categories li{
	list-style: circle;
	color: #FB4381;
	line-height: 30px;
}
.categories li a{
	color: blueviolet;
	font-size: 15px;
	text-decoration: none;
}
.categories li a:hover{
	color: #FB4381;
}
.main-left img{
	width: 650px;
}
.main-left-1,.main-left-2,.main-left-3{
	border: 1px solid #CCCCCC;
	background: white;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.main-left-1-ul li{
	list-style:disc;
	float: left;
	margin-left: 30px;
}
.main-left-1-ul li a:hover{
	color: #FB4381;
}
.img img{
	width:120px;
	height:120px;
	border-radius: 50%;
}
.main-left-1 h3 a,.main-left-2 h3 a,.main-left-3 h3 a{
	color: black;
}
.main-left-1 h3 a:hover,.main-left-2 h3 a:hover,.main-left-3 h3 a:hover{
	color: #FB4381;
}

#hide{
	display: none;
}

.main2-right{
	color: #616161;
}
#form-input{
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 10px 0;
}
#form-input:hover{
	border: none;
	border-bottom: 2px solid #FB4381;
	color: black;
}
.form-input{
	padding: 10px 0;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ccc;
}
.form-input:hover{
	color: black;
	border: none;
	border-bottom: 2px solid #FB4381;
}
/*#submit{
	margin-top: 20px;
	background: #FB4381;
	color: white;
	width: 80px;
	height: 40px;
}*/






#button1{
	margin-top: 20px;
	background: #FB4381;
	color: white;
	width: 100px;
	height: 30px;
}
#button{
	margin-top: 20px;
	background: #FB4381;
	color: white;
	width: 100px;
	height: 30px;
}
.main-right{
	margin-left: 30px;
}
.main-right-top,.main-right-between,.main-right-down{
	margin-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
}
.main-right-top h5,.main-right-between h5,.main-right-down h5{
	color: blueviolet;
}
.main-right-top h5:hover,.main-right-between h5:hover,.main-right-down h5:hover{
	color: #FB4381;
}



.down{
	background:#653EB3;
	margin-top: 100px;
	color: white;
}
.down-ul li{
	float: left;
	padding-left: 20px;
}
.down-row1{
	padding: 20px 0;
	border-bottom: 1px solid white;
}
.down-row2{
	padding: 20px 0;
}
